@page "/profiles/"
@using FSDPROJAPP.Shared.Domain
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]


<h3 class="card-title">Profiles</h3>
<br />

<a href="/profiles/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Profiles
</a>
<br />
<br />

@if (Profiles == null)
{
    <div class="alert alert-info">Loading Profiles...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Hobby</th>
                <th>Detail</th>
                <th>Dislike</th>
                <th>Like</th>
                @*<th>Phone Number</th>*@

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profile in Profiles)
            {
                <tr>
                    <td>@profile.Username.Name</td>
                    <td>@profile.Hobby.Name</td>
                    <td>@profile.Detail.Name</td>
                    <td>@profile.Dislike.Name</td>
                    <td>@profile.Like.Name</td>
                    @*profile.Phonenumber</td>*@

                    <td>
                        <a href="/profiles/view/@profile.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/profiles/edit/@profile.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(profile.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Profile>? Profiles;
    private List<Subscription>? Subscriptions;

    protected async override Task OnInitializedAsync()
    {
        Profiles = await _client.GetFromJsonAsync<List<Profile>>($"{Endpoints.ProfilesEndpoint}");
    }

    async Task Delete(int profileId)
    {
        if (Profiles != null)
        {
            var profile = Profiles.First(q => q.Id == profileId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {profile.Phonenumber}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.ProfilesEndpoint}/{profileId}");
                await OnInitializedAsync();
            }
        }
    }
}
